@media (max-width: 731.98px) {
    .profil__body {
        grid-template-columns: 1fr;
        gap: 48px;
    }
    .profil { 
        padding-bottom: 64px;
    }
    
}
@media (max-width:666.98px) {
    .experience { 
        padding: 52px 0;
    }
    .experience__container {
        display: block;
    }
    .experience__title {
        font-size: 36px;
        width: 100%;
        text-align: center;
        max-width: none;
    }
    .gallery__images {
        gap: 20px;
    }
    .gallery__title { 
        margin-bottom: 40px;
        font-size: 40px;
    }
    .gallery__item { 
        margin-bottom: 32px;
    }
    .contacts {
        padding: 0 0 64px;
    }
    .contacts__content { 
        flex-wrap: wrap;
    }
    
    .form-contacts {
        flex: 1 1 100%;
    }
    .footer {
        height: 206px;
    }
    
}

@media (max-width:580px) {
    .contacts__body {
        flex-wrap: wrap;
        gap: 32px;
    }
}

@media (max-width: 320.98px) {
    .hero__title {
        font-size: 46px;
    }
    .gallery__title { 
        margin-bottom: 29px;
        font-size: 36px;
    }
    .gallery__btn {
        width: 100%;
        display: block;
    }
    
    
}